{% extends "new_ui/base.html" %}

{% block title %}编辑房产{% endblock %}

{% block page_title %}编辑房产: {{ property.name }}{% endblock %}

{% block content %}
<div class="form-container">
    <form method="POST">
        <div class="row">
            <!-- 基本信息 -->
            <div class="col-md-6">
                <h4>基本信息</h4>
                <div class="form-group">
                    <label for="name">房产名称 <span class="text-danger">*</span></label>
                    <input type="text" id="name" name="name" value="{{ property.name }}" required>
                </div>
                <div class="form-group">
                    <label for="layout">房型布局 (如: 3b2b)</label>
                    <input type="text" id="layout" name="layout" value="{{ property.layout }}" placeholder="3b2b">
                </div>
                <div class="form-group">
                    <label for="beds">床位配置 (如: 1k2q)</label>
                    <input type="text" id="beds" name="beds" value="{{ property.beds }}" placeholder="1k2q">
                </div>
            </div>
            
            <!-- 地址信息 -->
            <div class="col-md-6">
                <h4>地址信息</h4>
                <div class="form-group">
                    <label for="street_address">街道地址 <span class="text-danger">*</span></label>
                    <input type="text" id="street_address" name="street_address" value="{{ property.street_address }}" required>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="city">城市 <span class="text-danger">*</span></label>
                            <input type="text" id="city" name="city" value="{{ property.city }}" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="state">州/省 <span class="text-danger">*</span></label>
                            <input type="text" id="state" name="state" value="{{ property.state }}" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <hr style="margin: 20px 0;">
        
        <div class="row">
            <!-- 房产详情 -->
            <div class="col-md-6">
                <h4>房产详情</h4>
                <div class="form-group">
                    <label for="property_size">房产面积 (平方英尺)</label>
                    <input type="number" id="property_size" name="property_size" min="0" value="{{ property.property_size }}">
                </div>
                <div class="form-group">
                    <label for="land_size">土地面积 (平方英尺)</label>
                    <input type="number" id="land_size" name="land_size" min="0" value="{{ property.land_size }}">
                </div>
                <div class="form-group">
                    <label for="occupancy">最大入住人数</label>
                    <input type="number" id="occupancy" name="occupancy" min="0" value="{{ property.occupancy }}">
                </div>
            </div>
            
            <!-- 设施信息 -->
            <div class="col-md-6">
                <h4>设施信息</h4>
                <div class="form-group">
                    <label for="front_door_code">前门密码</label>
                    <input type="text" id="front_door_code" name="front_door_code" value="{{ property.front_door_code }}">
                </div>
                <div class="form-group">
                    <label for="storage_code">储物间密码</label>
                    <input type="text" id="storage_code" name="storage_code" value="{{ property.storage_code }}">
                </div>
                <div class="form-group">
                    <label for="wifi_name">WiFi名称</label>
                    <input type="text" id="wifi_name" name="wifi_name" value="{{ property.wifi_name }}">
                </div>
                <div class="form-group">
                    <label for="wifi_password">WiFi密码</label>
                    <input type="text" id="wifi_password" name="wifi_password" value="{{ property.wifi_password }}">
                </div>
                <div class="form-group">
                    <label for="trash_day">垃圾收集日</label>
                    <input type="text" id="trash_day" name="trash_day" value="{{ property.trash_day }}">
                </div>
            </div>
        </div>
        
        <hr style="margin: 20px 0;">
        
        <div class="d-flex justify-content-end">
            <a href="{{ url_for('properties_fixed') }}" class="btn btn-secondary" style="margin-right: 10px;">取消</a>
            <button type="submit" class="btn btn-primary">保存更改</button>
        </div>
    </form>
</div>
{% endblock %} 